{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ Hover-table ] start -->
                            <div class="col-xl-12">
                                <div class="card Recent-Users">
                                    <div class="card-header">
                                        <h5>News Entries</h5>
                                    </div>
                                    <div class="card-block card-body table-border-style">
                                        <div class="btn-group mb-2 mr-2">
                                            <a href="/admin/news/create" class="label theme-bg3 text-white f-12">Create New
                                                Entry</a>
                                        </div>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Published Date</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for news in news_list %}
                                            <tr>
                                                <td>{{ news.id }}</td>
                                                <td>{{ news.title }}</td>
                                                <td>{{ news.publish_date }}</td>
                                                <td>{% if news.status %}
                                                    <!--if block html code-->
                                                    <i class="fas fa-circle text-c-green f-10 m-r-15"></i>
                                                    {% else %}
                                                    <!--else block html code-->
                                                    <i class="fas fa-circle text-c-red f-10 m-r-15"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="/admin/news/{{ news.id }}"
                                                       class="label theme-bg2 text-white f-12">Edit</a>
                                                    <a href="/admin/news/delete/{{ news.id }}"
                                                       class="label theme-bg text-white f-12">Remove</a>
                                                    <a href="/admin/news/view/{{ news.id }}"
                                                       class="label theme-bg text-white f-12">View</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Hover-table ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
<!-- [ Main Content ] end -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock javascripts %}
